## Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
build/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
needs/

## Rider / VS / IDE
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.VC.VC.opendb
.idea/
.vscode/

## OS
.DS_Store
Thumbs.db
__MACOSX/

## Addressables / AssetBundles / Streaming
*.bundle
*.unitypackage

## WebGL / exports
*.zip
*.tar.gz
